body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #f7f9fa, #ffffff);

}

/*-------DISEÑO API RELOJ--------*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 20px; /* Ajuste de espacio */
    box-sizing: border-box;
  }
  
  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .time-container {
    position: absolute;
    right: 60px;
    padding: 15px 0 15px 0;
  }
  
  @media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .time-container {
        position: static;
        margin-top: 10px;
    }
  }
  
  #reloj {
    display: inline-block;
    text-align: center;
    font-size: 46px; 
    font-weight:unset;
    padding: 10px 20px;
    margin-left: 20px;
    background: linear-gradient(to top, #555, rgb(49, 48, 47));
    color: #919191; 
    border: 1px solid #2b2929; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  
#dataCarro {
    width: 80%;
    margin-top: 20px;
}
.tabla{
    display: flex;
    justify-content: center;
    padding: 0 150px 0 150px;
}
.container1 {
    align-items: center;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carro {
    flex: 1;
    padding: 10px;
}

.imagenCarro {
    width: 140px;
    height: auto;
    border-radius: 5px;
}

.carro-name {
    font-size: 1.5em;
    color: #333333;
    font-weight: bold;
}

.carro-text {
    color: green;
    font-size: 2rem;
    font-weight: bold;
}


/*--------footer---------*/
.footer{
    background: linear-gradient(to top, #555, gray);
}

.container{
    max-width: 1400px;
    padding: 80px 0;
    
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 20px;
}
.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #1935b1;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom:  15px;
    transition: all .2s ease;
}

.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}
.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: aliceblue;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .3s ease;
}

.btn-right {
    
    margin-right: 0px;
    margin-bottom: 50px; /* Incrementar margen inferior */
}

.btn-custom {
    display: inline-block;
    padding: 8px 16px;  /* Ajustar tamaño del botón */
    font-size: 14px;  /* Ajustar tamaño del texto */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.table-container {
    padding-bottom: 20px; /* Añadir padding bottom a la tabla */
}
.text-right {
    text-align: end;
}
.btn-left {
    
    margin-left: 0px;
    margin-bottom: 50px; /* Incrementar margen inferior */
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*----------------------------*/