{% extends "tiendaweb/base.html" %}

{% load static %}

{% block title %}Catalogo de Comics {% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="subs">
      <div class="margen">
        <h1>Catologo comics <span class="badge text-bg-secondary">Todos</span></h1>
        <h1></h1>
        <h1></h1>
      </div>
      <div class="margen">
        <h4>Ve toda la variedad</h4>
        <h1></h1>
        <h1></h1>
      </div>
    </div>
</div>

<!--------tarjetas-------->
    <div class="catalogo">
        <div class="container1 mt-5">
            <div class="row">
            {% for comic in comics %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                <div class="card h-100">
                    <img src="{{ comic.imagen }}" alt="Imagen de Comic" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ comic.nombre }}</h5>
                        <p class="card-text">${{comic.precio_clp}}</p>
                        <a href="{% url 'detallesComic' comic.id %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}