{% extends "tiendaweb/base.html" %}

{% load static %}

{% block title %}Comics Sharingan{% endblock %}

{% block content %}

        <div class="margen1">
            <div class="row">
                <div class="col mt-5 ms-3 mb-5" id="columna1">
                    <img src="{{ comic.imagen }}"  alt="batman1" width="500px" height="800px" class="rounded-3">
                </div>
            
                <div class="col mt-5 ms-3">
                    <h5 class="mb-3" style="color:#929292 ;">Comics Sharingan</h5>
                    
                    <h1  class="fs-1 fw-bold">{{comic.nombre}}</h1>
                    <br>
                    <br>
                    <h2> ${{comic.precio_clp}}</h2>
                    <h6 style="color: #929292;">impueso incluido</h6>
                    <br>
                    <label for="cantidad"  style="color: #929292;">Cantidad</label>
                    <br>
                    <h5 id="cantidadProductos">Disponibles {{comic.cantidad}}</h5>
                    <br>
                    <br>
                    {% if user.is_authenticated %}
                        <a href="{% url 'carro:agregar' comic.id %}">
                            <button class="rounded-5 w-50 p-2 fs-6" style="background-color: #7C7C7C; color: white;">Añadir al Carro</button>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <button class="rounded-5 w-50 p-2 fs-6" style="background-color: #7C7C7C; color: white;">Inicia Sesión para Añadir al Carro</button>
                        </a>
                    {% endif %}
                    <br>
                    <br>
                    <p class="w-75" id="comentarioPage">{{comic.comentario}}</p>
                    <br>
                    
                    <h6 style="color: #929292;">Más Información</h6>    
                    <br>

                    <h6>Editorial: {{comic.editorial}}</h6>
                    <h6 id="editorialPage"style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"></h6>
                    <h6>Autor/es: {{comic.autor}}</h6>   
                    <h6 id="autorPage" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> </h6>
                    <h6>Fecha de lanzamiento: {{comic.fecha}}</h6>
                    <h6 id="fechaPage" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"></h6>
                    <h6>Paginas: {{comic.paginas}}</h6>
                    <h6 id="paginasPage" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> </h6>
                    <h6>Tamaño: {{comic.tamaño}}</h6>
                    <h6 id="tamañoPage" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> </h6>                
                    

                </div>




            </div>
        </div>

{% endblock %}